<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=192.168.1.50;Initial Catalog=NN17102350;uid=user_NN17102350;pwd=NN17102350" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>